/dev/disk/by-uuid/{{ UUID1 }} /media/ray/ssd auto nosuid,nodev,nofail,x-gvfs-show 0 0
/dev/disk/by-uuid/{{ UUID2 }} /media/ray/data1 auto nosuid,nodev,nofail,x-gvfs-show 0 0
/dev/disk/by-uuid/{{ UUID3 }} /media/ray/data2 auto nosuid,nodev,nofail,x-gvfs-show 0 0