#!/bin/bash
#

BASE_DIR={{ BASE_DIR }}/{{ PROJ }}

# port_mapping or using host machine
{% if 'API_HOST_PORT' in environ and 'API_INNER_PORT' in environ %}
  EXPORT_PORT="-p {{ environ.API_HOST_PORT }}:{{ environ.API_INNER_PORT }}"
  NETWORK=""
{% else %}
  EXPORT_PORT=""
  NETWORK="--network host"
{% endif %}

{% if 'TASK_PORT' in environ and 'TASK_HOST_PORT' in environ %}
  EXPORT_PORT="$EXPORT_PORT -p {{ environ.TASK_HOST_PORT }}:{{ environ.TASK_PORT }}"
{% endif %}

sudo docker run -d  $EXPORT_PORT \
  $NETWORK \
  -v $BASE_DIR/{{ HOST_BIN }}/:{{ WORK_DIR }} \
  --privileged=true \
  --name {{ PROJ }} \
  -w {{ WORK_DIR }} \
  {{ NEW_JRE_TAG }} \
  sh ./start.sh