#!/bin/bash
# Description: upgrade & rollback script
# Date: 2019-05-23
#

if [ $# -lt 1 ];then
	echo "Error: Usage $(basename $0) ACTION"
	echo 2
fi

BASE_DIR={{ BASE_DIR }}/{{ PROJ }}/{{ HOST_BIN }}
dest_filename={{ PROJ }}


exec_file_path=${BASE_DIR}/${dest_filename}

backup_count=2

clear_backup() {
	if ! ls $exec_file_path_* &> /dev/null ;then
		echo exit
		return 0
	fi
	echo "clear backup"
	tmp=$(ls -d $BASE_DIR/${dest_filename}_* -tr | sed -n "$backup_count,\$p")
	echo $tmp
	for name in $(ls -d $BASE_DIR/${dest_filename}_* -tr | sed -n "$backup_count,\$p");do
		rm -rf $name
	done
}


backup() {
	if [ -e $BASE_DIR/$dest_filename ] ;then
		mv $BASE_DIR/$dest_filename $BASE_DIR/${dest_filename}_$(date '+%F_%H-%M-%S')
	fi
}

do_upgrade() {
	clear_backup
	backup
}

do_init() {
	clear_backup
	backup
}

do_xx() {
   echo ""
}

do_$1