path:
{% for dataPath in hostvars[inventory_hostname].dataPathArr %}
- {{ dataPath }}
{% endfor %}

minerName: "{{ hostvars[inventory_hostname].group_names[0] }}-{{ inventory_hostname }}"
apiKey: "{{ hostvars[inventory_hostname].apikey }}"
cachePath: ""
deviceId: "{{ inventory_hostname }}"
extraParams: {}
log:
  lv: info
  path: ./hpool_logs/
  name: "{{ hostvars[inventory_hostname].group_names[0] }}-{{ inventory_hostname }}"
url:
  # 一个局域网内，代理只需要开一台就可以了，如代理所在的机器Ip是192.168.1.88，端口9190
  # 下面配置改为
  # proxy: "http://192.168.1.88:9190"
  # In a local area network, only one proxy is required. For example, the IP of the machine where the proxy is located is 192.168.1.88 and the port is 9190
  # The following configuration is changed to
  # proxy: "http://192.168.1.88:9190"
  proxy: ""
scanPath: true
scanMinute: 30
