path:
- /media/{{ MOUNT }}/data1
- /media/{{ MOUNT }}/data2
minerName: "{{ hostvars[inventory_hostname].group_names[0] }}-{{ inventory_hostname }}"
apiKey: "{{ hostvars[inventory_hostname].apikey }}"
cachePath: ""
deviceId: "{{ inventory_hostname }}"
extraParams: {}
log:
  lv: info
  path: ./hpool_logs/
  name: "{{ hostvars[inventory_hostname].group_names[0] }}-{{ inventory_hostname }}"
url:
  info: ""
  submit: ""
scanPath: true
scanMinute: 60
