path:
- /media/ray/data1
- /media/ray/data2
minerName: {{ ansible_hostname }}
apiKey: " {{ }} "
cachePath: ""
deviceId: "{{ }}"
extraParams: {}
log:
  lv: info
  path: ./log/
  name: miner.log
url:
  info: ""
  submit: ""
scanPath: true
scanMinute: 60
