kNum=32
plotSize=102 # 102GB
roundNum={{ hostvars[inventory_hostname].ppk }}
taskRam=4100
batchPlotCount=32
maxPlotCount=32
taskThreads=3
ssdPath=/media/ray/SSD
ssd2Path=/media/ray/SSD
batchTaskInterval=480
phaseInterval=4.5h
maxLoopCount=10000
maxPlottingPending=600
dataPathArr=('/media/ray/data1' '/media/ray/data2')