#!/bin/bash
# Decription: backup package
# Version: 0.1.0
# Date: 2019-05-22
#

backup_count=3
backup_dir={{ BASE_DIR }}
backup_name={{ PROJ }}
backup_path=$backup_dir/$backup_name


if ! ls -d $backup_path &>/dev/null ;then
	echo "Don't have backup directory or file ."
	exit 2
fi

clear_backup() {
	echo 666
	if ! ls $(basename $backup_path)_*.tar.gz &> /dev/null ;then
		return 0
	fi
	echo 777
	for name in $(ls -t $(basename $backup_path)_*.tar.gz | sed -n "$backup_count,\$p");do
		rm -f $name
	done
}


backup() {
  if [ -e $backup_dir/$backup_name ] ;then
	  tar zcf $backup_dir/${backup_name}_$(date '+%F_%H-%M-%S').tar.gz -C $backup_dir $backup_name
	  rm -rf $backup_dir/$backup_name
	fi
}

clear_backup
backup
